body{
    background-color: #404c74;
}

header{
    background-color: blue
    padding: 3%;
}

img{
   width: 5%;
   height: auto; 
}
.logo{
   background-color: #404c74;
}

nav{
    background-color: darkgray;
}

main{
    background-color: limegreen;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: wheat;
}

footer{
    background-color: purple;
    padding: 3%;
}
