body{
    background-color: black	;
    font-size: 150%;
}

header{
    background-color: blue
    padding: 3%;
}

img{
   width: 50%;
   height: auto; 
   display: block;
   margin-left:auto;
   margin-right: auto;
 
}

.logo{
   background-color: #404c74;
}

nav{
    background-color: #778899	;
}

main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: #778899	;
}

footer{
    background-color: purple;
    padding: 3%;
}

div.galeria{
    margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.gallery img {
    width: 50%;
    height: auto;
}
  
div.gallery:hover{
    border: 2px solid black;
}

div.desc {
    background-color:#778899;
    padding: 15px;
    text-align: center;
  }

.{
    opacity: 0.5;
  }
  
.gallery:hover {
   opacity: 1.0;
  }